 html,body {
    	margin: 0;
        height: 100%;
     }

#kb{
    margin: auto;
    margin-top: 5%;
    text-align: center;
    width: 50%;
    /* border: 1px solid green; */
    padding: 10px;
    position: relative;
}
#logout{
    background-color: brown;
}
#dash{
    margin-top: 20%;
    margin: auto;
    text-align: center;
    width: 17%;
}
#Category{
    margin-top: 20%;
    margin: auto;
    text-align: center;
    width: 17%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}
#pic{
    margin-left: 42%;
    margin-top: 5%;
    height: 250px;
    width: 250px;
    border-style: dotted;
    overflow: hidden;
}
button{
    background-color: lightblue;
}
#words{
    margin-top: 0%;
    margin-left: 0%;
    padding:0px;
    width: 20%;
    height: 80%;
    position: fixed;
    background-color:rgba(192,192,192,0.2);
    border-style: dotted;
}
#btn{
    margin-top: 20%;
    margin: auto;
    text-align: center;
    width: 17%;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 20px;
}